:root {
        --dark: #374151;
        --darker: #1F2937;
        --darkest: #111827;
        --gray: #6B7280;
        --light: #EEE;
        --pink: #EC4899;
        --purple: #8B5Cf6;
}

* {
        box-sizing: border-box;
        margin: 0;
        font-family: 'Franklin Gothic Medium', sans-serif;
}

body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        color: var(--light);
        background: linear-gradient(-45deg, var(--gray), var(--dark), var(--darker), var(--darkest));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header {
        padding: 2rem 1rem;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
}

header h1 {
        font-size: 2rem;
        font-weight: 300;
        color: var(--light);
        margin-bottom: 1rem;

}

#new_task_form {
        display: flex;
}

input, button {
        appearance: none;
        border: none;
        outline: none;
        background: none;
}

#new_task_input {
        flex: 1 1 0%;
        background-color: var(--darker);
        padding: 1rem;
        border-radius: 1rem;
        margin-right: 1rem;
        color: var(--light);
        font-size: 1.25rem;
        
        border: 2px solid rgba(0, 0, 0, .5);
        animation: mymove 5s infinite;
}

@keyframes mymove {
        50% {border-color: lightblue;}
      }




#new_task_input::placeholder {
        color: var(gray);
}

#new_task_submit {
        color: var(--pink);
        font-size: 1.25rem;
        font-weight: 700;
        background-image: linear-gradient(to right, var(--pink), var(--purple)) ;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
        transition: 0.4s;
}

#new_task_submit :hover {
        opacity: 0.8;
}

#new_task_submit :active {
        opacity: 0.6;
}

main {
        flex: 1 1 0%;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
}

.task_list {
        padding: 1rem;
}

.task_list h2 {
        font-size: 1.5rem;
        font-weight: 300;
        color: var(--light);
        margin-bottom: 1rem;
}

#tasks .task {
        display: flex;
        justify-content: space-between;
        background-color: var(--darkest);
        padding: 1rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
}

#tasks .task .content .text {
        color: var(--light);
        font-size: 1.125rem;
        width: 100%;
        display: block;
        transition: 0.4s;
}
#tasks .task .content .text :not(:read-only) {
        color: var(--pink);
}
#tasks .task .actions {
        display: flex;
        margin: 0 -0.5rem;
}
.task .actions button{
        cursor: pointer;
        margin: 0 0.5rem;
        font-size: 1.125rem;
        font-weight: 700;
        text-transform: uppercase;
        transition: 0.4s;

}

.task .actions button :hover {
        opacity: 0.8;
}

.task .actions button :active {
        opacity: 0.6;
}

.task .actions .edit {
        background-image: linear-gradient(to right, var(--pink), var(--purple)) ;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.task .actions .delete {
        color: crimson;
}

